<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <!-- Sidebar -->
      <ul class="sidebar-nav">
        <li class="sidebar-brand text-center">
          <img class="img-avatar" src="assets/sunnychen.jpg" alt="Avatar">
          <h3 *ngIf='user'>{{user.DisplayName}}</h3>
          <h4>{{userName}}</h4>
        </li>
        <li>
          <a [routerLink]="['./dashboard']">Dashboard</a>
        </li>
        <li>
          <a [routerLink]="['./posts']">Posts</a>
        </li>
        <li>
          <a [routerLink]="['./friends']">Friends</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 col-md-6 col-lg-8">
      <div class="row site-content">
        <!-- <h1>Post a text</h1>
        <div class="form-group">
          <input class="form-control" id="inputText" type="text" placeholder="Please type something here...">
        </div> -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
    </div>
  </div>
</div>