div .site-content {
    margin: 0;
}

/* Sidebar Styles */
.sidebar-nav {
    top: 0;
    width: 25.625rem;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 1.25rem;
    line-height: 3.5rem;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: #efefef;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.125rem;
    line-height: 3.75rem;
}

.img-avatar {
    margin-top: 0.75rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}