<div class="container">
  <div class="row">
    <div class="absolute-center is-responsive">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>SIGN IN</h2>
        <form action="" id="loginForm">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" name='username' placeholder="User Name" />
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" type="password" name='password' placeholder="Password" />
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block">Login</button>
          </div>
          <div class="form-group text-center">
            <a href="#">FORGOT PASSWORD</a>&nbsp;|&nbsp;<a href="#">SIGN UP</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>