footer {
    text-align: center;
    color: gray;
    font-size: small;
}

.brand-icon {
    width: 36px;
    height: auto;
    margin: -8px;
}

.navbar-right {
    margin-right: 0.2em;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}