footer {
    text-align: center;
    color: gray;
    font-size: small;
}

.brand-icon {
    width: 2.031746031746032em;
    height: auto;
    margin: -8px;
}

ul.dropdown-menu li {
    float: left;
    width: 100%;
}

.navbar-right {
    margin-right: 0.2em;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
